{% extends 'base.html' %}
{% block content %}

<div class="main">
    <div id="mainheader">
        <h1>퀴즈 목록</h1>
        <p>현재 플레이어의 등록된 퀴즈를 보여주는 페이지입니다. 룰루</p>
    </div>
    <div id="mainquiz">
        <label for="user">현재 사용자</label>
        <ul>
            {% for quiz in quizes.all %}
            <li>
                <label for="title">제목:{{ quiz.title }}</label>
                <label for="person">출제자:{{ quiz.person }}</label>
                <button type="button"><a href="{%퀴즈풀기링크%}">퀴즈 풀기</a></button>
                <button type="button"><a href="{%랭킹확인링크%}">랭킹 확인하기</a></button>
            <li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}