{% extends 'base.html' %} {% block content %}
<div class="quiz">
<h1>{{quiz.title}}</h1>
<h4>현재 사용자: {{ user.username }}</h4>
  <form action="{% url 'quizes:make-quiz'%}" method="POST">
    {% csrf_token %}
    <label for="title">Title: </label>
    <input type="text" id="title" name="title">
    <div class="question-1">
      <label for="1">1</label>
      <input type="radio" name="question1" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question1" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question1" value="3" id="3" />
    </div>
    <div class="question-2">
      <label for="1">1</label>
      <input type="radio" name="question2" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question2" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question2" value="3" id="3" />
    </div>
    <div class="question-3">
      <label for="1">1</label>
      <input type="radio" name="question3" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question3" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question3" value="3" id="3" />
    </div>
    <div class="question-4">
      <label for="1">1</label>
      <input type="radio" name="question4" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question4" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question4" value="3" id="3" />
    </div>
    <div class="question-5">
      <label for="1">1</label>
      <input type="radio" name="question5" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question5" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question5" value="3" id="3" />
    </div>
    <div class="question-6">
      <label for="1">1</label>
      <input type="radio" name="question6" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question6" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question6" value="3" id="3" />
    </div>
    <div class="question-7">
      <label for="1">1</label>
      <input type="radio" name="question7" value="1" id="1" />
      <label for="2">2</label>
      <input type="radio" name="question7" value="2" id="2" />
      <label for="3">3</label>
      <input type="radio" name="question7" value="3" id="3" />
    </div>
    <button type="submit">제출</button>
  </form>
</div>
{% endblock content %}
